name: CI/CD

on:
  push:
    branches: 
    - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: ACR
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Node.js dependencies
        working-directory: ./app
        run: npm ci

      - name: Run linters
        working-directory: ./app
        run: npm run lint

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: docker build -t notes:bersier-kolly -f Dockerfile .

      - name: Tag and push image to ACR
        run: |
          docker tag notes:bersier-kolly ${{ secrets.ACR_LOGIN_SERVER }}/notes:bersier-kolly
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/notes:bersier-kolly

